<div class="bg-gray-200 p-4 rounded-lg shadow-lg">
    <div class="flex flex-col justify-items-stretch sm:flex-row gap-4">
        <!--NgFor over Topics-->
        <div class="text-white text-center flex-grow" *ngFor="let topic of topics; index as index">
            <div class="py-4 px-8 bg-gray-900">
                <h3>{{topic.title}}</h3>
            </div>
            <!--NgFor over Blogs-->
            <div *ngIf="topic.blogPostIds.length > 0">
                <div class="bg-gray-600" *ngFor="let blogId of topic.blogPostIds; index as index">
                    <div class="p-4 px-8 my-2 hover:bg-gray-400">
                        <h3>{{getBlogTitleForId(blogId)}}</h3>
                    </div>
                </div>
            </div>
            <div *ngIf="topic.blogPostIds.length === 0" class="bg-gray-600 opacity-30">
                <div class="p-4 px-8 my-2">
                    <h3>No blog posts yet</h3>
                </div>
            </div>
        </div>
    </div>
</div>